[Desktop Entry]
Name=Tresorit
Exec=/home/fred/.local/share/tresorit/tresorit --hidden
Terminal=false
Type=Application
Icon=/home/fred/.local/share/tresorit/tresorit.png
